@font-face {
  font-family: 'Alte-Haas-Grotesk';
  src:url('./fonts/Alte-Haas-Grotesk.ttf.woff') format('woff'),
      url('./fonts/Alte-Haas-Grotesk.ttf.svg#Alte-Haas-Grotesk') format('svg'),
      url('./fonts/Alte-Haas-Grotesk.ttf.eot'),
      url('./fonts/Alte-Haas-Grotesk.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EBGaramond-SemiBold';
  src:url('./fonts/EBGaramond-SemiBold.woff') format('woff'),
      url('./fonts/EBGaramond-SemiBold.woff2') format('woff2'),
      url('./fonts/EBGaramond-SemiBold.svg#EBGaramond-SemiBold') format('svg'),
      url('./fonts/EBGaramond-SemiBold.eot'),
      url('./fonts/EBGaramond-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/EBGaramond-SemiBold.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




.App {
  text-align: center;
}

body {
  font-family: 'Alte-Haas-Grotesk';
}

.landing {
  overflow: hidden; /* Hide scrollbars */
}
/* Video Background */
.video-container {
  height: 500px;
  width: 500px;
  overflow: hidden;
  position: relative;
  overflow: hidden; /* Hide scrollbars */
}

video {
min-width: 100%;
min-height: 100%;
overflow: hidden; /* Hide scrollbars */
object-fit: cover;
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
z-index: -2;
-o-filter: blur(6px);
filter: blur(3px);
}

.videoContainer .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden; /* Hide scrollbars */
  top: 0px;
  left: 0px;
  z-index: -1;
  background: rgb(209, 206, 8);
  opacity: 0.2;
}

/* Logo */

.logo {
  width: 100%;
  position: absolute;
  top: 40%;
  height: 232px;
  margin-top: -30px;
  /* background-color: rgb(233, 232, 180); */
  justify-content: left;
  filter: blur(0.5px);

}

/* Sign In With Google */

.login {
  position:absolute;
  top:10px;
  right: 10px;
}

/* About */

.about {
  position:absolute;
  top:10px;
  left: 15px;
  /* margin:0px;
  padding:0px; */
}

/* Landing Page Button Styling */

.landing button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #252525;
  outline: none;
  font-family: 'EBGaramond-SemiBold';
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.landing button:hover,
button:focus {
  transform: scale(0.99);
}

.landing button:active {
  transform: scale(0.99);
}


/* MODAL */
/* Background effect. It covers the entire site */
.modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
  z-index: 1; /* Overlay effect: positioned over other containers */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed; /* Fix position on the top-left corner*/
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  padding-top: 80px; /* Location of the content container */
  font-family: 'EBGaramond-SemiBold';
}
/* Modal content */
.modal-content {
  text-align: left;
  background-color: rgb(238,236,192);
  width: 90%; /* Width in proportion to its parent container*/
  max-width: 640px; /* Max width where it stops expanding */
  height: 50%; /* Height in proportion to its parent container */
  margin: auto; /* Auto margin according to the element width */
  padding: 10px;
  padding-left: 20px;
  border: none;
  opacity: 0.95;
  font-size: 1.4rem;
  border-radius: 5px;
}
/* Close button */
.close {
 color: #aaaaaa;
 float: right; /* Positioned to the right of the parent container whichever size it is */
 font-size: 25px;
 font-weight: bold;
}
.close:hover, 
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

