.App {
    text-align: center;
  }
  
body {
    font-family: 'Alte-Haas-Grotesk';
    /* background:rgb(238,236,192); */
  }
  
.landing {
    overflow: hidden; /* Hide scrollbars */
  }
  /* Video Background */
.video-container {
    height: 500px;
    width: 500px;
    overflow: hidden;
    position: relative;
    overflow: hidden; /* Hide scrollbars */
  }
  
video {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; /* Hide scrollbars */
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -2;
  -o-filter: blur(6px);
  filter: blur(3px);
  }
  
.videoContainer .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden; /* Hide scrollbars */
    top: 0px;
    left: 0px;
    z-index: -1;
    background: rgb(255, 255, 255);
    opacity: 0.2;
  }
  
  /* Logo */
  
.logo {
    width: 100%;
    position: absolute;
    top: 40%;
    height: 232px;
    margin-top: -30px;
    /* background-color: rgb(233, 232, 180); */
    justify-content: left;
    filter: blur(0.5px);
  
  }
  
  /* Sign In With Google */
  
.login {
    position:absolute;
    top:10px;
    right: 10px;
  }
  
  /* About */
  
.about {
    position:absolute;
    top:10px;
    left: 15px;
    /* margin:0px;
    padding:0px; */
  }
  
  /* Landing Page Button Styling */
  
.landing button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: none;
    color: #252525;
    outline: none;
    font-family: 'EBGaramond-SemiBold';
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
.landing button:hover,
  button:focus {
    transform: scale(0.99);
  }
  
.landing button:active {
    transform: scale(0.99);
  }
  
  
  /* MODAL */
  /* Background effect. It covers the entire site */
.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 1; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 80px; /* Location of the content container */
    font-family: 'EBGaramond-SemiBold';
  }
  /* Modal content */
.modal-content {
    text-align: left;
    background-color: rgb(255, 255, 255);
    width: 90%; /* Width in proportion to its parent container*/
    max-width: 640px; /* Max width where it stops expanding */
    height: 50%; /* Height in proportion to its parent container */
    margin: auto; /* Auto margin according to the element width */
    padding: 10px;
    padding-left: 20px;
    border: none;
    opacity: 0.95;
    font-size: 1.4rem;
    border-radius: 5px;
    color: rgb(63, 63, 63);
  }
  /* Close button */
.close {
   color: #aaaaaa;
   float: right; /* Positioned to the right of the parent container whichever size it is */
   font-size: 25px;
   font-weight: bold;
  }
.close:hover, 
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Menu */
#menuToggle
  {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 100%;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
#menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }
  
  /*
   * Just a quick hamburger
   */
#menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
#menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
#menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
#menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  /*
   * But let's hide the middle one.
   */
#menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /*
   * Ohyeah and the last one should go the other direction
   */
#menuToggle input:checked ~ span:nth-last-child(2)
  {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
#menu
  {
    position: absolute;
    width: 300px;
    height: 100%; /* sets to full length */
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    padding-left: 10px;
    padding-right: 65px;
    right: -100px;
    
    background-color: rgba(238,236,192, 0.3);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
#menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }
  
  /*
   * And let's fade it in from the left
   */
#menuToggle input:checked ~ ul
  {
    transform: none;
    opacity: 1;
  }
  
@media screen and (max-width: 768px) {
    #menu {
      transform: none;
      opacity: 0;
  
      transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
  }
  
#menuToggle button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: none;
    color: #252525;
    outline: none;
    font-family: 'EBGaramond-SemiBold';
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
#menuToggle button:hover,
  button:focus {
    transform: scale(1.1);
  }
  
#menuToggle button:active {
    transform: scale(0.99);
  } 
  
  /* Slick Theme*/
  /* Slider */
.slick-loading .slick-list
  {
      background: #fff ; /*url('./ajax-loader.gif') center center no-repeat*/
  }
  
  /* Icons */
@font-face
  {
      font-family: 'slick';
      font-weight: normal;
      font-style: normal;
  
      src: url('../node_modules/slick-carousel/slick/fonts/slick.eot');
      src: url('../node_modules/slick-carousel/slick/fonts/slick.eot#iefix') format('embedded-opentype'), url('../node_modules/slick-carousel/slick/fonts/slick.woff') format('woff'), url('../node_modules/slick-carousel/slick/fonts/slick.ttf') format('truetype'), url('../node_modules/slick-carousel/slick/fonts/slick.svg#slick') format('svg');
  }
  /* Arrows */
.slick-prev,
.slick-next
  {
      font-size: 0;
      line-height: 0;
  
      position: absolute;
      top: 50%;
  
      display: block;
  
      width: 20px;
      height: 20px;
      padding: 0;
      /* -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); */
  
      cursor: pointer;
  
      color: #000;
      border: none;
      outline: none;
      background: transparent;
  }
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
  {
      color: #000000;
      outline: none;
      /* background: transparent; */
  }
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
  {
      opacity: 1;
  }
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
  {
      opacity: .25;
  }
  
.slick-prev:before,
.slick-next:before
  {
      font-family: 'slick';
      font-size: 20px;
      line-height: 1;
  
      opacity: .75;
      color: rgb(219, 12, 12);
  
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
.slick-prev
  {
      left: 15px;
      z-index: 2;
  }
[dir='rtl'] .slick-prev
  {
      right: -25px;
      left: auto;
      z-index: 2;
  }
.slick-prev:before
  {
      content: '←';
  }
[dir='rtl'] .slick-prev:before
  {
      content: '→';
  }
  
.slick-next
  {
      right: 15px;
      z-index: 2;
  }
[dir='rtl'] .slick-next
  {
      right: auto;
      left: -25px;
      z-index: 2;
  }
.slick-next:before
  {
      content: '→';
  }
[dir='rtl'] .slick-next:before
  {
      content: '←';
  }
  
  /* Dots */
.slick-dotted.slick-slider
  {
      margin-bottom: 30px;
  }
  
.slick-dots
  {
      position: absolute;
      bottom: -25px;
  
      display: block;
  
      width: 100%;
      padding: 0;
      margin: 0;
  
      list-style: none;
  
      text-align: center;
  }
.slick-dots li
  {
      position: relative;
  
      display: inline-block;
  
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
  
      cursor: pointer;
  }
.slick-dots li button
  {
      font-size: 0;
      line-height: 0;
  
      display: block;
  
      width: 20px;
      height: 20px;
      padding: 5px;
  
      cursor: pointer;
  
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
  }
.slick-dots li button:hover,
.slick-dots li button:focus
  {
      outline: none;
  }
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
  {
      opacity: 1;
  }
.slick-dots li button:before
  {
      font-family: 'slick';
      font-size: 6px;
      line-height: 20px;
  
      position: absolute;
      top: 0;
      left: 0;
  
      width: 20px;
      height: 20px;
  
      content: '•';
      text-align: center;
  
      opacity: .25;
      color: black;
  
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
.slick-dots li.slick-active button:before
  {
      opacity: .75;
      color: black;
  }
  
  /*Slick*/
  /* Slider */
.slick-slider
  {
      position: relative;
  
      display: block;
      box-sizing: border-box;
  
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
.slick-list
  {
      position: relative;
  
      display: block;
      overflow: hidden;
  
      margin: 0;
      padding: 0;
  }
.slick-list:focus
  {
      outline: none;
  }
.slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
.slick-slider .slick-track,
.slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
.slick-track
  {
      position: relative;
      top: 0;
      left: 0;
  
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
.slick-track:before,
.slick-track:after
  {
      display: table;
  
      content: '';
  }
.slick-track:after
  {
      clear: both;
  }
.slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
  
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
  
      height: auto;
  
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }
  
  /* #saved-slide.saved-slide {
    text-align: center;
    justify-content: center;
  } */
  
  /* .slide-img {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    justify-content: center;
    padding-left: 150px;
  } */
  
  /*Card Bootstrap*/
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    border-radius: 0.25rem;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 400px;
    font-family: 'EBGaramond-SemiBold';
  }
  
  .card > hr {
    margin-right: 0;
    margin-left: 0;
  }
  
  .card > .list-group {
    border-top: inherit;
    border-bottom: inherit;
  }
  
  .card > .list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card > .list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    // min-height: 1px;
    height:10px;
    padding: none;
  }
  
  .card-title {
    margin-bottom: 0.75rem;
  }
  
  .card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
  }
  
  .card-text:last-child {
    margin-bottom: 0;
  }
  
  .card-link:hover {
    text-decoration: none;
  }
  
  .card-link + .card-link {
    margin-left: 1.25rem;
    float: botton;
  }
  
  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  
  .card-header + .list-group .list-group-item:first-child {
    border-top: 0;
  }
  
  .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #fff; 
    /* border-top: 1px solid rgba(0, 0, 0, 0.125); */
  }
  
  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }
  
  .card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
  }
  
  .card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
  }
  
  .card-img,
  .card-img-top,
  .card-img-bottom {
    text-align: center;
    justify-content: center;
    display: flex;
    /* -ms-flex-negative: 0;
    flex-shrink: 0; */
    width: 150px;
    // height: 246px;
    padding-left: 105px;
    padding-bottom: 40px;
  }
  
  .card-img,
  .card-img-top {
    justify-self: center;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  /* .card-img,
  .card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  } */
  
  .card-deck .card {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
    .card-deck {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
    .card-deck .card {
      -ms-flex: 1 0 0%;
      flex: 1 0 0%;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
  
  .card-group > .card {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
    .card-group {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
    }
    .card-group > .card {
      -ms-flex: 1 0 0%;
      flex: 1 0 0%;
      margin-bottom: 0;
    }
    .card-group > .card + .card {
      margin-left: 0;
      border-left: 0;
    }
    .card-group > .card:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-top,
    .card-group > .card:not(:last-child) .card-header {
      border-top-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-bottom,
    .card-group > .card:not(:last-child) .card-footer {
      border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-top,
    .card-group > .card:not(:first-child) .card-header {
      border-top-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-bottom,
    .card-group > .card:not(:first-child) .card-footer {
      border-bottom-left-radius: 0;
    }
  }
  
  .card-columns .card {
    margin-bottom: 0.75rem;
  }
  
  @media (min-width: 576px) {
    .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 1.25rem;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
    }
    .card-columns .card {
      display: inline-block;
      width: 100%;
    }
  }
  